<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/savedArticles">Saved articles</a>
      </li>
      <form class="form-inline">
        <button id="scrape" class="btn btn-outline-success" type="button">Scrape new articles!</button>
        <button id="clear" class="btn btn-outline-success" type="button">Clear articles</button>
      </form>
    </ul>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      {{#each articles}}
      <div class="card">
        <div class="card-body">
          <a href="https://www.teenvogue.com/{{link}}">
            <h5 class="card-title">{{title}}</h2>
          </a>
          <p class="card-text">{{summary}}</p>
          <button class="btn btn-primary saveNote" data-id="{{this.id}}">Save article</button>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>